.counterLeft
    width 35px
    font-size 24px
    background white
    border 1px solid #ccc
    border-right 0px
    border-radius 3px 0 0 3px
    outline none

.counterRight
    width 35px
    font-size 18px
    background white
    border 1px solid #ccc
    border-left 0px
    border-radius 0 3px 3px 0
    outline none

.counterInput
    height 40px
    width 100px
    text-align center
    font-size 16px
    border 1px solid #ccc
    outline none

.nadpis
    font-size 14px