.footer{
  padding: 10px 0 10px 0
  & p, a{
    font-size 16px
    color #fff
  }
  .footer__col{
    width 100%
    display: flex
    justify-content: space-between
    .footer__row-1{
      display: flex
      .logo__title{
        margin: auto
      }
  }
    .footer__row-2{
      width 30%
      display: flex
      justify-content: space-between
      & p {
        margin: auto
      }
      .footer__logo{
        & img{
          height 60px
          width 60px
        }
    }
  }
  }


.footer__copyright{

}
}