.review-add{
  width 100%
  input, textarea{
    border 1px solid #ccc
    padding-left: 5px
    padding-top 5px
    margin-bottom 10px
    margin-right 5px
    -webkit-appearance: textarea
  }
  .text{
    width 100%
    .radio{
      display: flex
      width 50%
      text-align: center
    }
    .number{
      padding: 0
      text-align: center
      width 40px
      height 40px
      border-radius: 100%
    }
    h4{
      font-size 20px
    }
    p{
      font-size 14px
    }
    .comment{
      width: 60%
      height 160px
    }
  }
  .row{
    display: flex
    justify-content: space-between
    .col-1{
      input{
        width 300px
      }
      display: flex
      flex-direction: column
    }
    .col-2{
      height 84px
      .button-comment{
        height 42px
        width 250px
        margin-top 20px
      }
    }
  }
}