.check {
	display: block;
	margin: 0 0 10px 0;
	cursor: pointer;
	user-select: none;
	position: relative;
}
.check input[type=checkbox] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
.check span {
	display: inline-block;
	position: relative; 
	padding: 0 0 0 35px; 
	line-height: 22px;    
}
.check span:before {
	content: "";
	display: inline-block;
	width: 22px;
	height: 22px;
	position: absolute;
	left: 0;
	top: 0;
	transition: background 0.3s ease;
    background url(https://snipp.ru/uploads/contents/checkbox-1.png) 0 0 no-repeat
}
 
/* Checked */
.check input[type=checkbox]:checked + span:before {
    background-color green
    background-image url(https://snipp.ru/uploads/contents/checkbox-2.png)
}
 

/* Hover */
.check span:hover:before {
	filter: brightness(110%);
}
 
/* Active */
.check span:active:before {
	filter: brightness(80%);
}
 
/* Disabled */
.check input[type=checkbox]:disabled + span {
	color: red
	cursor: default;
}
.check input[type=checkbox]:disabled + span:before {
	filter: grayscale(100%);
	opacity: 0.6;
}