.section_popular{
  
  .section__title{
    padding 0px 0px 60px 0px
    h1{
      margin-top 0px
    }
  }
  .section__preview-card{
    
  }
  .block-preview-cards{

  }
}

.booking{
  display: flex
  justify-content: center
  margin-top 100px
}

