div.navigation
    display flex
    justify-content space-between
    padding 20px
    background-color white
    border 1px solid #ccc
    .emblema
        ul
            display flex 
            float left
            li
                margin-right 5px
                a
                    font-size 18px
                    color black
    .navigator
        ul
            display flex
            float center
            li
                margin-right 5px
                a
                    font-size 14px
                    color black
                    opacity 95%
    .service
        ul
            display flex
            float right     
            li
                display flex
                margin-right 5px
                a 
                    font-size 18px
                    color black
                    span 
                        border 1px solid 
                        padding 2px
                        background-color green