.section_filter{

  padding-bottom: 200px
  .section__title{
    padding: 20vh 0px 60px 0
    h1{
      margin-top 100px
    }
  }
  .section__component-list{
    background: white
  }
}

.section__title{
  h1{
    text-align: center
    font-size 40px
    font-weight: bold
  }
}
