.AboutTours{
  .AboutTours__title{
    margin: 0px 0px 15px 0px 
    h1{
      font-size 28px
      text-align: center
    }
  }
  .AboutTours__body{
    display: flex
    justify-content: space-between
    .AboutTours__text{
      width 45%
      p{
        font-size 14px
      }
    }
  }
}