.test{
  display: flex
  justify-content: space-between
}

.tour-icon{
  & img {
    height 120px
    display: block
    margin: 0 auto
  }
  & p {
    margin-top 10px
    font-weight: bold
    font-size 20px
    text-align: center
    color: #000
  }
}
.tour-icon:hover {
  & p{
    text-decoration: underline
  }
}
