.slider{
  position: relative
  height: 80vh
  display: flex
  justify-content: center
  align-items: center
  .slider__arrow{
    & img{
      position: absolute
      height 80px
      top: 50%
      font-size 3rem
      color: #000
      z-index: 10
      cursor: pointer
      user-select: none
    }
  }
  .slider__arrow-left{
    & img{
      left -10px
    } 
  }
  .slider__arrow-right{
    & img{
      right -10px
    } 
  }
  .slider__slider-image{
    height 70vh
    width 70vw
    border-radius: 5px
  }
  .slider__slide-active{
    // opacity 1
    transition-duration: 1s
    transform: scale(1.08)
  }
  .slider__slide{
    // opacity 0
    transition-duration: 1s ease
  }
} 
