// .slider{
//   position: relative
//   height: 100vh
//   display: flex
//   justify-content: center
//   align-items: center
//   .slider__arrow{
//     & img{
//       position: absolute
//       height 30px
//       top: 50%
//       font-size 3rem
//       color: #000
//       z-index: 10
//       cursor: pointer
//       user-select: none
//     }
//   }
//   .slider__arrow-left{
//     & img{
//       left 32px
//     } 
//   }
//   .slider__arrow-right{
//     & img{
//       right 32px
//     } 
//   }
//   .slider__slider-image{
//     height 90vh
//     width 90vw
//     border-radius: 5px
//   }
//   .slider__slide-active{
//     opacity 1
//     transition-duration: 1s
//     transform: scale(1.08)
//   }
//   .slider__slide{
//     opacity 0
//     transition-duration: 1s ease
//   }
// }

.slick-arrow{
  z-index: 10
} 
.slick-prev{
  left: 0
}
.slick-prev::before{
  content:''
}