.flex--date{
    display: flex
    height 50px
    border-top: 1px solid #DEE0E3
  }
.check__input{
    height 25px
    width 25px
    -webkit-appearance: auto
  } 


  .calendar{
    width 300px
    margin-top: 10px
    box-shadow: 0 0 10px #ccc
    
    }
  .react-calendar{
    width 300px

    .react-calendar__decade-view__years__year{
      background-color: #fff
      border: none
    }
    .react-calendar__year-view__months__month{
      background-color: #fff
      border: none 
      }
    .react-calendar__navigation__arrow[disabled]{
      background-color: #F0F3F6
      }
    .react-calendar__navigation__arrow{
      padding 10px 15px 10px 15px 
      background-color: #F0F3F6
      }
    .react-calendar__navigation{ 
      height: 50px
      }
      button{
        border-width: 0 
        font-size: 16px
        }
      .react-calendar__navigation__label{ 
        text-align center
        text-transform: capitalize
        background-color #F0F3F6
        border none 
        }
    }
    
  .react-calendar__month-view__weekdays{
    background-color: #F0F3F6
    }
  .react-calendar__month-view__weekdays__weekday{ 
    padding: 5px 0px 10px 0px
    font-size: 14px
    color: #000
    text-transform: capitalize
    text-align center

    abbr{ 
      text-decoration: none
      }
    }

  .react-calendar__month-view__days{ 
    height 200px

    button[disabled]{
      opacity 0.5
      }
    button{
      background-color: #fff
      border: none
      } 
    .react-calendar__tile--active{
      background-color: #08A652
      border-radius: 5px
      color: #fff
      }
    .react-calendar__tile{
      height 35px
      }
    .react-calendar__tile:hover{
      background-color: #ccc
      border-radius: 5px
      }
    }
    
    


