
.drop__body{
  -webkit-box-shadow: 5px -2px 10px 0px #ccc;
  -moz-box-shadow:    5px -2px 10px 0px #ccc;
  box-shadow:         5px -2px 10px 0px #ccc;
  border-radius 5px
  width: 330px
  .drop__list{
    list-style: none
    margin: 0 auto
    height: 200px
    overflow-y: scroll
    .list__popular{
      color: #8B8E93
      font-size: 14px
      display: block
      padding: 5px 0 5px 0
      margin-left: 10px
      }
    .drop__element{
      padding: 5px 0 5px 0
      border-radius: 5px
      .drop__element-li{
        display: flex
        justify-content: space-between
        }
      .drop__element-title{
        margin-left: 10px
        }
      .drop__element-price{
        margin-right 10px
        color: #8B8E93
        font-size 14px
        }
      }
    .drop__element:hover{
        background-color: #F0F3F6
        }
    
    
    }
  
  }


