.drop__body{
  position: absolute
  box-shadow: 0 0 10px #ccc
  border-radius 5px
  width: 250px
  margin: 10px
  padding: 10px 5px
  .drop__list{
    list-style: none
    margin: 0 auto
    .list__popular{
      color: #8B8E93
      font-size: 14px
      display: block
      padding: 5px 0 5px 0
      margin-left: 10px
      }
    .drop__element{
      padding: 5px 0 5px 0
      border-radius: 5px
      .drop__element-li{
        display: flex
        justify-content: space-between
        }
      .drop__element-title{
        margin-left: 10px
        }
      .drop__element-price{
        margin-right 10px
        color: #8B8E93
        font-size 14px
        }
      }
    .drop__element:hover{
        background-color: #F0F3F6
        }
    
    
    }
  
  }


