.section__about-tours{
  margin-top 50px 
  .section__title{
    padding 0px 0px 60px 0px
  }
  .section__about-tours__body{
    display: flex
    justify-content: space-between
    .section__about-tours__text{
      width 45%
      p{
        font-size 20px
      }
    }
  }
}