.block-preview-cards{
  display: flex
  justify-content: space-between
  flex-wrap: wrap
}

.preview-card-large{
    width: 45%
    height: 440px
  }
.preview-card-small{
  width: 25%
  height: 220px
}


.preview-card{
  margin-top: 10px  
  border-radius: 5px
  -webkit-box-shadow: 5px -2px 10px 0px #ccc;
  -moz-box-shadow:    5px -2px 10px 0px #ccc;
  box-shadow:         5px -2px 10px 0px #ccc;
  .preview-card__back{
    height 100%
    display: flex
    align-items: flex-end
    position: relative
    .back__img{
      position: absolute
      height 100%
      width 100%
      border-radius: 5px
      z-index 2
    }
    .preview-card__content{
      flex-direction: column
      z-index: 5
      margin: 0px 0px 10px 10px 
      font-size: 21px
      font-weight: bold
      .preview-card__flag{
      & img{
        height 30px
      }
      }
      .preview-card__country{
        color: #fff
      }
      .preview-card__price{
        color: #fff
      }
    }
  }
}
