.travel-card__rating{
  border-radius: 100%
  text-align: center
  color: #000
  & p{
    display: block 
  }
  & span{
    display: block
  }
}
.travel-card__rating-bad{
  background: red
}
.travel-card__rating-normal{
  background: orange
}
.travel-card__rating-good{
  background: green
}

.travel-card__stars {
  display: flex
  justify-content: space-between
  & img{
  }
}
  

.container-travel-card{ 
  width calc(33.33% - 30px)
  display: flex
  justify-content: center
  margin: 15px
} 

.travel-card{
  width 350px
  height 450px
  display: block
  border-radius: 5px
  box-shadow: 0 0 10px #ccc

  .travel-card__back{
    position: relative

.travel-card__rating{
      position: absolute
      top: 5px
      right: 5px
      height 50px
      width 50px
      & p{
        font-size: 10px  
        margin: 5px 0px 0px 0px
      }
      & span{
        font-size: 18px
        margin 11px 10px 10px 10px
      }
    }

    .travel-card__background{
      height 200px
      width 100%
      
      img{
        height 100%
        width 100%
        border-top-right-radius: 5px
        border-top-left-radius: 5px
      }
    }
  }

  .travel-card__body{
    margin 5px 15px 10px 15px

    .travel-card__stars {
      width: 90%
      padding-bottom: 10px
      margin: 0 auto
      & img{
        height 25px
      }
    }


  .travel-card__text{
    .text__title{
      display: flex
      justify-content: space-between
      margin: 0px 0px 10px 0px 

      .text__title_name{
        & h3{
          font-size: 18px
        }
        & p{
          font-size 14px
        }
      } 
      .text__title_review{
        & a{
          text-decoration: underline
          font-size: 14px
        }
      }
    }
    .text__inf{
      display: flex
      justify-content: space-between
      height: 21px
      .text__inf_block{
        width 80px
        margin: 0px 5px 0px 0px
        text-align: center
        font-size: 14px
      }
      .text__inf_sea{}
      .text__inf_beach{}
      .text__inf_wifi{}
    }
    
  }
  }

  .travel-card__button{
    display: block
    margin: 0 auto
    width 300px
    height 50px
    border-radius: 5px
    opacity: 1
    box-shadow: none
    &:hover{
      // transition: 0.3s
      transform: translateY(-3px)
      box-shadow: 0 3px 5px #ccc
    }
    &:active{
      // transition: 0.3s
      transform: translateY(-1px)
      box-shadow: none
    }
  }
}
