div.navigation
    width 100%
    position fixed
    display flex
    justify-content space-between
    box-shadow 0 0 15px rgba(0,0,0,0.5)
    padding 20px
    background-color white  
    .emblema
        margin-left 8%
        font-size 28px
        a
            margin-right 5%
            color black
            font-size 28px
    .navigator
        margin-right 10%
        margin-top 5px
        ul
            display flex
            float center
            li
                margin-right 10%
                a
                    font-size 24px
                    color black
                    opacity 95%
    .service
        ul
            display flex
            float right     
            li
                display flex
                margin-right 5px
                a 
                    font-size 18px
                    color black
                    span 
                        border 1px solid 
                        padding 2px
                        background-color green

        