.container
    display flex

.Slider_Size 
margin-left 10%
margin-right 10%

.tags__li
    display flex
    justify-content space-between
    

.footer
    width 100%
    height 175px
    background-color #1C1C1FFF

.footer_adress 
    margin-left 10%
    padding-top 3%
    a
        color white
        font-size 24px

.table 
    margin-left 10%
    padding-top 2%

.main_Tr 
    a
        margin-right 100px
        color white
        font-size 20px

.all_Tr
    td
        padding-top 5px
        a
            font-size 18px
            color white

.down
    margin-top 10px
    margin-left 10%
    a
        color white
        font-size 18px
        margin-right 7%

.test
    background-color white
    height 800px

.border 
    border 1px solid #ccc

.sales_Page_Cards
    margin-top 20px
.service_Page_Cards
    margin-top 30px
.Cards_Count
    margin-bottom 10px

.Cards_Page_Sales
    display flex
    justify-content center  

.Sales_Card
    width 850px
    height 175px
    border 1px solid #ccc
    border-radius 20px
    padding 10px   
    margin-bottom 20px
     
   
.Sales_Card_Name
    font-size 24px

.Sales_Card_Name_Card
    display flex
    justify-content space-between
    .Sales_Card_Name
        display flex
    .Sales_Card_Price_Old
        display flex
        
.Sales_Card_Data
    display flex
    margin-top 1px
    justify-content space-between

.Sales_Card_Data_O
    font-style italic
    font-size 20px
    

.Sales_Card_Data_P
    font-style italic
    font-size 20px

.Sales_Card_Price_Old
    text-decoration line-through
    font-style italic
    font-size 24px

.Sales_Card_Price_New
    font-style italic
    font-size 24px

.Sales_Card_Button
    float right
    border-radius 10px
    color black
    background-color white 

.Search_String
    font-size 32px
    margin-bottom 15px
    justify-content center 

.Searchstring
    margin-top 150px
    display flex
    justify-content center 
    margin-bottom 500px

.Filters_searchstring
    width 900px
    display flex
    justify-content space-between
    input
        border-radius 15px
    button
        border-radius 15px

.Cards_Search_Filters
    margin-bottom 20px
    input
        border none
    button
        border-radius 15px

.Cards_Search_Cards_Filtred
    margin-left 10%
    margin-top 20px
    margin-bottom 27px


.City_Perelet_Select
    display flex
    h1
        margin-right 5px

.City_Perelet_Info
    display flex
    height 300px
    justify-content justify

.City_Perelet_Info_Foto
    display flex
    flex-wrap wrap
    justify-content space-around

.Booking_Card
    h1
        font-size 24px
        display flex
        justify-content center
        margin-top 20px

.Poser_Button
        display flex
        justify-content center

.Booking_Card_Search
    display flex
    justify-content space-around
    h2 
        font-size 20px

.Booking_Card_nameString
    margin-top 20px
    width 1000px
    display flex
    justify-content space-around
    
.Booking_Card_Humans
    display flex
    justify-content center
    div
        margin-bottom 10px
    

.Cards_Search
    display flex
    justify-content center

.counterLeft
    width 35px
    font-size 24px
    background white
    border 1px solid #ccc
    border-right 0px
    border-radius 3px 0 0 3px
    outline none

.counterRight
    width 35px
    font-size 18px
    background white
    border 1px solid #ccc
    border-left 0px
    border-radius 0 3px 3px 0
    outline none

.counterInput
    height 40px
    width 100px
    text-align center
    font-size 16px
    border 1px solid #ccc
    outline none

.humans__parents
    font-size 14px

.humans__childrens
    font-size 14px

.component__humans
    width 200px

.counter
    display flex
    justify-content left