.container
    display flex

.tags__li
    display flex
    justify-content space-between
    


.footer
    // width 100%
    // height 175px
    background-color #333333FF

.footer_adress 
    margin-left 10%
    padding-top 3%
    a
        color white
        font-size 24px

.table 
    margin-left 20px
    padding-top 10px
    color #999999FF

.main_Tr 
    a
        margin-right 100px
        color white
        font-size 20px

.all_Tr
    td
        padding-top 5px
        a
            font-size 18px
            color white

.down
    display flex
    justify-content space-around
    margin-top 10px
    margin-left 20px
    a
        color #999999FF
        font-size 18px

.test
    height 100%

.border 
    background #F6F6F6FF

.Main    
    padding-top 200px
    margin-top 0px
    margin-right 100px
    margin-left 100px
    padding-bottom 100px 
    background #C8E4EFFF
    box-shadow 0 0 10px rgba(0,0,0,0.5)

.Main_Perelet
    padding-top 200px
    margin-top 0px
    margin-right 100px
    margin-left 100px
    padding-bottom 100px 
    background #C8E4EFFF
    box-shadow 0 0 10px rgba(0,0,0,0.5)

.Main_Booking
    padding-top 100px
    margin-top 0px
    margin-right 100px
    margin-left 100px
    padding-bottom 100px 
    background #C8E4EFFF
    box-shadow 0 0 10px rgba(0,0,0,0.5)

.Main_Faq
    padding-top 125px
    margin-top 0px
    margin-right 100px
    margin-left 100px
    padding-bottom 100px 
    background #C8E4EFFF
    box-shadow 0 0 10px rgba(0,0,0,0.5)

.sales_Page
    background #F6F6F6FF

.sales_Page_Cards
    margin-top 20px

.service_Page_Cards
    margin-top 30px

.Cards_Count
    margin-bottom 40px

.Cards_Page
    p
        font-size 30px
        
.Cards_Page_Sales
    display flex
    justify-content center  

.Sales_Card
    width 900px
    // height 175px
    border 1px solid black 
    border-radius 20px
    padding 20px   
    margin-bottom 20px
    background white
     
.Sales_Card_Price
    font-style italic
    font-size 24px

.Sales_Card_Name
    font-size 24px

.Sales_Card_Name_Card
    display flex
    justify-content space-between
    .Sales_Card_Name
        display flex
    .Sales_Card_Price_Old
        display flex
        
.Sales_Card_Data
    display flex
    margin-top 1px
    justify-content space-between

.Sales_Card_Data_O
    p
        font-style italic
        font-size 20px
    input
        border-radius 10px
        border 0.1px solid black  
        font-size 20px
        background white 
        padding: .25rem .25rem .25rem 1rem
    

.Sales_Card_Data_P
    p
        font-style italic
        font-size 20px
    input
        border-radius 10px
        border 0.1px solid black  
        font-size 20px
        background white 
        padding: .25rem .25rem .25rem 1rem
    select
        display: block
        padding: .25rem 2.5rem .25rem 1rem
        background: white
        border: 1px solid black
        border-radius: 10px
        appearance: none
        font-family: inherit
        font-size: 1rem
        color: #444

.Sales_Card_Price_Old
    text-decoration line-through
    font-style italic
    font-size 24px

.Sales_Card_Price_New
    font-style italic
    font-size 24px

.Sales_Card_Button
    float right
    border-radius 10px
    color black
    font-style italic
    font-size 24px
    background-color #C9D8EEFF

.Search_String
    h1
        font-size 32px
        margin-bottom 15px
        justify-content center 
    p
        font-size 18px
        margin-bottom 5px

.Searchstring
    // margin-top 50px
    // padding-top 100px
    // margin-right 100px
    // margin-left 100px
    display flex
    justify-content center 
    padding-bottom 100px 
    margin-bottom 100px
    // border 1px solid black
    // border-radius 10px
    // background #FFFFFFFF
    // box-shadow 0 0 10px rgba(0,0,0,0.5)

.Filters_searchstring
    width 900px
    display flex
    justify-content space-between
    input
        border-radius 10px
        border 0.1px solid black  
        background white 
        padding: .25rem .25rem .25rem 1rem
    button
        color white
        width 125px
        border-radius 10px
        font-size 24px
        background #007ACCFF
    select
        display: block
        padding: .25rem 2.5rem .25rem 1rem
        background: white
        border: 1px solid black
        border-radius: 10px
        appearance: none
        font-family: inherit
        font-size: 1rem
        color: #444

.Cards_Search
    height 100%

.Cards_Search_Filters
    margin-bottom 20px
    input
        border none
    button
        border-radius 15px

.Cards_Search_Cards_Filtred
    margin-left 10%
    margin-top 20px
    margin-bottom 27px


.City_Perelet_Select
    display flex
    justify-content center
    h1
        font-size 24px
        margin-right 5px
    select
        display: block
        padding: .75rem 2.5rem .75rem 1rem
        background: white 
        border: 1px solid #ccc
        border-radius: 10px
        appearance: none
        font-family: inherit
        font-size: 1rem
        color: #444



.City_Perelet_Info
    font-size 18px
    height 300px
    margin-right 20px
    margin-left 20px
    margin-top 10px
    p
        display flex
        justify-content justify

    

.City_Perelet_Info_Foto
    display flex
    flex-wrap wrap
    justify-content space-around

.Booking_Card
    h1
        font-size 28px
        display flex
        justify-content center
        margin-top 20px

.Poser_Button
    display flex
    justify-content center
    button
        background #007ACCFF
        border-radius 10px
        font-size 24px
        color white

.Booking_Card_Search
    margin-top 20px
    display flex
    justify-content space-around 
    h2 
        font-size 20px
        

.Booking_Card_nameString
    margin-top 20px
    width 1000px
    display flex
    justify-content space-around
    input
        border 0.2px solid black
    .seria
        width 180px
    .nomer
        width 180px
    
.Booking_Card_Humans_H1
    margin-bottom 5px

.Booking_Card_Humans
    display flex
    justify-content center
    .Booking_Card_Humans_H1
        margin-bottom 5px
    .Booking_Card_Humans_Input
        margin-bottom 15px
        h2
            font-size 18px
    input 
        border-radius 10px
        border 0.1px solid black  
        background white 
        padding: .25rem .25rem .25rem 1.25rem
    
.Cards_Search_PP
    display flex
    justify-content center
    margin-bottom 10px
    font-size 28px
    button
        background #007ACCFF
        border-radius 10px
        font-size 24px
        color white
        margin-left 5px

    

.Cards_Search
    display flex
    justify-content center

.counterLeft
    width 35px
    font-size 24px
    background white
    border 1px solid #ccc
    border-right 0px
    border-radius 3px 0 0 3px
    outline none

.counterRight
    width 35px
    font-size 18px
    background white
    border 1px solid #ccc
    border-left 0px
    border-radius 0 3px 3px 0
    outline none

.counterInput
    height 40px
    width 100px
    text-align center
    font-size 16px
    border 1px solid #ccc
    outline none

.Cards_Search_P
    font-size 24px

.humans__parents
    font-size 18px
    display flex
    justify-content center

.humans_Parents
    margin-right 10px

.component__humans
    display flex
    width 400px

.counter
    display flex
    justify-content left

.Faq_Text
    margin-left 20px
    margin-bottom 10px
    p
        font-size 30px
        display flex
        justify-content center
    h1
        font-size 28px
        font-style italic
    h2
        font-size 24px