.tour{
  display flex
  justify-content: space-between
  border-radius: 5px
  box-shadow: 0 0 10px #ccc

  margin 20px auto

  height 200px
  width 1000px

  .tour-icons{
    display: flex
    justify-content: space-between
    img{
      height 10px
      width 10px
      margin-right: 10px
    }

    .statick{
      position:relative;
    }

    .hover{
      display:none;
      background:#f3f3f3;
      height:100px;
      box-shadow: 0 0 10px #ccc

    }

    .statick:hover .hover{
      display:block;
      position:absolute;
      z-index:9999;
      width:100px;
      top: 20px
      left: -40px
    }
  }
  

}

