.section__short-inf{
  padding-top: 50px 
  .section__title{
    & p{
      font-weight: bold
      text-align: center
    }
  }
  .section__short-inf__body{
    .short-inf__tour-raiting{
      height: 40vh
      width 50%
      margin: 0px auto
      padding-bottom: 50px
      .travel-card__rating{
        height 100px
        width: 100px
        margin: 10px auto
        & span{
          font-size: 20px
          font-weight bold
          padding: 35px 
        }
      }
      .travel-card__stars{
        & img{
          height 60px
        }
      }
  }
  .short-inf__tour-icon{
    height: 60vh
    display: flex
    justify-content: space-between
  }

}
}
