.section_tours{
  margin-bottom: 150px
  .section__title{
    padding 0px 0px 60px 0px
  }
  // .section__travel-card{

  // }

  .container-block{
    display: flex;
    flex-wrap: wrap
    padding 5px
  }
}