.review{
  border 1px solid #ccc
  box-shadow: 0 0 10px #ccc
  margin: 0px 0px 20px 0px 
  .review__inf{
    display: flex
    justify-content: space-between
    margin: 5px 10px 10px 10px
    .review__inf__col1{
      display: flex
      
      .review__user{
        margin-right 10px
        font-size 12px
      }
      .review__date{
        font-size 12px
      }
    }
    .review__inf__col2{
      .review__figure{
        font-size 12px
      }
      .review__figure-bad{
        color: red
      }
      .review__figure-normal{
        color: orange
      }
      .review__figure-good{
        color: lime
      }
    }
    
  }
  .review__text{
    margin: 0px 10px 10px 10px
    & span{
      cursor: pointer
      text-decoration: underline
      color: skyblue
      -ms-user-select: none;
      -moz-user-select: none
      -khtml-user-select: none
      -webkit-user-select: none
      user-select: none
    }
  }
}