.container{
  margin: 0 auto
  width 95%
}
footer{
  background: #000
}

.fixed{
  background: #000
  position: fixed
  width 100%
  bottom: 0
}

.faq{
  padding-top 100px
  h1{
    font-size 40px
  }
  p{
    font-size 20px
  }
}