.components{
  display: block
  // justify-content: space-between
  width 1170px
  // height: 60px

  .country{
    width 370px
    display: inline-block
    }
  .date{
    width 210px
    display: inline-block
    }
  .nights{
    width 200px
    display: inline-block
    }
  .humans{
    width 240px
    display: inline-block
    }
}