.section__about-hotel{
  padding-top 50px 
  .section__title{
    padding 0px 0px 60px 0px
  }
  .section__about-hotel__body{
    display: flex
    justify-content: space-between
    .about-hotel__text{
      width 45%
      & p{
        font-size 16px
      }
    }
    .about-hotel__map{
      width 45%
      border: 1px solid black
    }
  }
}
